

.m-2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.372);
}



.m-1{
    /* modal cs */
    position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

    /* normal cs */
    width: 500px;
    height: 250px;
    background-color:white;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    border: 1px solid white;
   
   
}
*{
    margin: 0;
    padding: 0;
}
.modal-btn{
    background-color: red;
    width: 200px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
