.App{
width: 200px;
height: 40px;
color: white;
background-color: blue;
border-radius: 10px;
border: none;
}
.app-2{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 200px;
   cursor: pointer;
}